body {
  background-color: #E9E9E9;
}

.heading {
  /*calc() sets a minimum size based on pixel size and viewport width.*/
  font: calc(12px + 1.5vw) sans-serif;
  font-weight: bolder;
  color: #2A2A2A;
  display: flex;
  justify-content: center;
  text-align: center;
}

.card-box-holder {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.card-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-box-header {
  
}

.card-holder {
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-image {
  border: 2px solid #7BD0E5;
}

.card-image::before {
  content: "";
  padding: 20%;
}

.card-text {

}